@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/gustambolopez/Files@main/Opensans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 500; 
  src: url("https://cdn.jsdelivr.net/gh/gustambolopez/Files@main/Opensans-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600; 
  src: url("https://cdn.jsdelivr.net/gh/gustambolopez/Files@main/Opensans-SemiBold.woff2") format("woff2");
  font-display: swap;
}
